<main>
  <h2>{{ config.Title }}</h2>
  <h4>{{ config.Subtitle }}</h4>
  <!-- FORMS -->
  <form class="form-container">
    <ng-container *ngFor="let field of config.Fields" >
      <!-- H1 Field -->
      <h1  *ngIf="field.Type === 'H1'">{{ field.Text }}</h1>

      <!-- Text Field -->
      <div *ngIf="field.Type === 'Text'">
        <input [placeholder]="field.Placeholder" [value]="fieldValues()[field.ID]"
          (input)="updateField(field.ID, $any($event.target).value)" />
      </div>

      <!-- Button Field -->
      <div *ngIf="field.Type === 'Button'">
        <button type="button" (click)="handleButton(field)">
          {{ field.Title }}
        </button>
      </div>
    </ng-container>
  </form>
</main>